body{
    background-color: rgb(67, 67, 67);
}

.photo{
    border: 5px solid rgb(40, 96, 133);
    border-radius: 10%;
    width:250px;
    height:250px;
    margin:10px;
    display: flex;
    padding:10px;
    background-color:rgb(196, 222, 244) ;
    align-items: center;
    justify-content: center;
}
.button_add{
    width:100px;
    /* height:100px;
    background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.plus{
    border:3px solid darkgrey;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    width:20px;
    height:20px;
    padding:20px;
}
.plus>p{
    font-size: 45px;
    font-weight: bold;
}
.text{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 15px;
}